<div class="test-security">

  <!-- Get Current User -->
  <h2>Current User</h2>
  <hr>
  <div class="security-current-user">
    {% set user = get_current_user() %}
    {{ user.name.value }}
  </div>

  <!-- Permissions -->
  <h2>Has Permission</h2>
  <hr>
  <div class="security-permission-current">{{ has_permission('administer site configuration') ? 'TRUE' : 'FALSE' }}</div>
  <div class="security-permission-admin">{{ has_permission('administer site configuration', 1) ? 'TRUE' : 'FALSE' }}</div>
  <div class="security-permission-nobody">{{ has_permission('administer site configuration', 10) ? 'TRUE' : 'FALSE' }}</div>

  <!-- Roles -->
  <h2>Has Roles</h2>
  <hr>
  <div class="security-role-current">{{ has_role('authenticated') ? 'TRUE' : 'FALSE' }}</div>
  <div class="security-role-admin">{{ has_role('authenticated', 1) ? 'TRUE' : 'FALSE' }}</div>
  <div class="security-role-nobody">{{ has_role('authenticated', 10) ? 'TRUE' : 'FALSE' }}</div>
</div>
