<div class="test-render-revision">
  <!-- Render Node Revision -->
  <h2>Render Node Revision</h2>
  <hr>
  <div class="render-entity-node-revision-1">{{ bamboo_render_entity_revision('node', 1) }}</div>
  <div class="render-entity-node-revision-1">{{ bamboo_render_entity_revision('node', 1, 'teaser') }}</div>
  <div class="render-entity-node-revision-2">{{ bamboo_render_entity_revision('node', 2) }}</div>
  <div class="render-entity-node-revision-2-teaser">{{ bamboo_render_entity_revision('node', 2, 'teaser') }}</div>
  <div class="render-entity-node-revision-3">{{ bamboo_render_entity_revision('node', 3) }}</div>
  <div class="render-entity-node-revision-3-teaser">{{ bamboo_render_entity_revision('node', 3, 'teaser') }}</div>
  <div class="render-entity-node-revision-4">{{ bamboo_render_entity_revision('node', 4) }}</div>
  <div class="render-entity-node-revision-4-teaser">{{ bamboo_render_entity_revision('node', 4, 'teaser') }}</div>
  <div class="render-entity-node-revision-5">{{ bamboo_render_entity_revision('node', 5) }}</div>
  <div class="render-entity-node-revision-5-teaser">{{ bamboo_render_entity_revision('node', 5, 'teaser') }}</div>
  <div class="render-entity-node-revision-6">{{ bamboo_render_entity_revision('node', 6) }}</div>
  <div class="render-entity-node-revision-6-teaser">{{ bamboo_render_entity_revision('node', 6, 'teaser') }}</div>
  <div class="render-entity-node-revision-7">{{ bamboo_render_entity_revision('node', 7) }}</div>
  <div class="render-entity-node-revision-7-teaser">{{ bamboo_render_entity_revision('node', 7, 'teaser') }}</div>
  <div class="render-entity-node-revision-8">{{ bamboo_render_entity_revision('node', 8) }}</div>
  <div class="render-entity-node-revision-8-teaser">{{ bamboo_render_entity_revision('node', 8, 'teaser') }}</div>
  <div class="render-entity-node-revision-9">{{ bamboo_render_entity_revision('node', 9) }}</div>
  <div class="render-entity-node-revision-9-teaser">{{ bamboo_render_entity_revision('node', 9, 'teaser') }}</div>
  <div class="render-entity-node-revision-10">{{ bamboo_render_entity_revision('node', 10) }}</div>
  <div class="render-entity-node-revision-10-teaser">{{ bamboo_render_entity_revision('node', 10, 'teaser') }}</div>

  <!-- Render Taxonomy -->
  <h2>Render Taxonomy</h2>
  <hr>
  <div class="render-entity-taxonomy-term-revision-1">{{ bamboo_render_entity_revision('taxonomy_term', 1) }}</div>
  <div class="render-entity-taxonomy-term-revision-1-link">{{ bamboo_render_entity_revision('taxonomy_term', 1, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-2">{{ bamboo_render_entity_revision('taxonomy_term', 2) }}</div>
  <div class="render-entity-taxonomy-term-revision-2-link">{{ bamboo_render_entity_revision('taxonomy_term', 2, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-3">{{ bamboo_render_entity_revision('taxonomy_term', 3) }}</div>
  <div class="render-entity-taxonomy-term-revision-3-link">{{ bamboo_render_entity_revision('taxonomy_term', 3, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-4">{{ bamboo_render_entity_revision('taxonomy_term', 4) }}</div>
  <div class="render-entity-taxonomy-term-revision-4-link">{{ bamboo_render_entity_revision('taxonomy_term', 4, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-5">{{ bamboo_render_entity_revision('taxonomy_term', 5) }}</div>
  <div class="render-entity-taxonomy-term-revision-5-link">{{ bamboo_render_entity_revision('taxonomy_term', 5, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-6">{{ bamboo_render_entity_revision('taxonomy_term', 6) }}</div>
  <div class="render-entity-taxonomy-term-revision-6-link">{{ bamboo_render_entity_revision('taxonomy_term', 6, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-7">{{ bamboo_render_entity_revision('taxonomy_term', 7) }}</div>
  <div class="render-entity-taxonomy-term-revision-7-link">{{ bamboo_render_entity_revision('taxonomy_term', 7, 'link') }}</div>
  <div class="render-entity-taxonomy-term-revision-8">{{ bamboo_render_entity_revision('taxonomy_term', 8) }}</div>
  <div class="render-entity-taxonomy-term-revision-8-link">{{ bamboo_render_entity_revision('taxonomy_term', 8, 'link') }}</div>

</div>
