<div class="test-placeholders">

  <!-- PLaceholders - LoremIpsum -->
  <h2>PLaceholders - LoremIpsum</h2>
  <hr>
  <div class="placeholder-lorem-word">{{ bamboo_placeholder_lorem('words', 1) }}</div>
  <div class="placeholder-lorem-words">{{ bamboo_placeholder_lorem('words', 10) }}</div>
  <div class="placeholder-lorem-words-random">{{ bamboo_placeholder_lorem('words', 5, 20) }}</div>

  <div class="placeholder-lorem-sentence">{{ bamboo_placeholder_lorem('sentences', 1) }}</div>
  <div class="placeholder-lorem-sentences">{{ bamboo_placeholder_lorem('sentences', 10) }}</div>
  <div class="placeholder-lorem-sentences-random">{{ bamboo_placeholder_lorem('sentences', 5, 20) }}</div>

  <div class="placeholder-lorem-paragraph">{{ bamboo_placeholder_lorem('paragraphs', 1) }}</div>
  <div class="placeholder-lorem-paragraphs">{{ bamboo_placeholder_lorem('paragraphs', 10) }}</div>
  <div class="placeholder-lorem-paragraphs-random">{{ bamboo_placeholder_lorem('paragraphs', 5, 20) }}</div>

    <!-- PLaceholders - LoremImage -->
  <h2>PLaceholders - LoremImage</h2>
  <hr>
  <div class="placeholder-lorem-image">{{ bamboo_placeholder_image(10, 10) }}</div>
</div>
